

/* Start:/local/templates/kalmatron/components/bitrix/news.detail/article/style.css?173314503077*/
.article-page__text-block p {
    margin-top: 40px;
    position: relative;
}
/* End */
/* /local/templates/kalmatron/components/bitrix/news.detail/article/style.css?173314503077 */
