

/* Start:/local/templates/kalmatron/components/bitrix/news.list/objects/style.css?1733145030303*/
.project__image-block{
	height: 415px;
	overflow: hidden;
}

@media(max-width: 768px){
	.project__image-block{
		height: 300px;
		overflow: hidden;
	}
}

.project__image{
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	object-position: center;
}
/* End */
/* /local/templates/kalmatron/components/bitrix/news.list/objects/style.css?1733145030303 */
